<div class='container'>  
  <div class='explore-container'>

    <div class='board' ng-repeat='books in vm.booksWithGroup'>
      <div class='board-content pure-g'>

        <div class='book pure-u-1-5' ng-repeat='book in books' ng-click='vm.view(book)'>
          <div class='book-cover'>
            <img ng-src='{{book.cover.preview_url}}'>
          </div>
          <div class="book-title">
            <p ng-bind='book.title'></p>
          </div>
        </div>


      </div>
    </div>


  </div>

</div>
