<div class='single-container'>
  <div class='single-header'>
    <div class='container'>

      <div class=''>
        <div class='board pure-g'>
          <div class='cover-col pure-u-1-6'>
            <div class='book-cover'>
              <img ng-src='{{vm.book.cover_url}}'>
            </div>
          </div>
          <div class='book-info pure-u-3-5'>
            <h2 ng-bind='vm.book.title'></h2>
            <p><a ng-bind='vm.book.author.username'></a></p>
            <div class='read-download pure-u-1'>
              <a class='read-btn' href='#'>阅读</a>
              <a class='download-btn' href='#'>下载</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
