<div class='single-container'>
  <div class='single-header'>
    <div class='container'>
      <div class='board pure-g'>
        <div class='cover-col pure-u-1-6'>
          <div class='book-cover'>
            <img ng-src='{{vm.book.cover_url}}'>
          </div>
        </div>
        <div class='book-info pure-u-5-6'>
          <h2 ng-bind='vm.book.title'></h2>
          <p><a ng-bind='vm.book.author.username'></a></p>
          <div class='read-download pure-u-1'>
            <a class='pure-button pure-primary-button' href='{{vm.book.html_url}}' target='_blank'><span class="octicon octicon-book"></span>阅读</a>

            <div class='dropdown'>
              <a class='dropdown-btn pure-button pure-ghost-button' href='#'><span class="octicon octicon-cloud-download"></span>下载</a>
              <ul class='dropdown-menu'>
                <li><a href='{{vm.book.pdf_url}}' target='_blank'><span class="octicon octicon-file-pdf"></span>PDF 格式</a></li>
                <li><a href='{{vm.book.epub_url}}' target='_blank'><span class="octicon octicon-file-text"></span>EPUB 格式</a></li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      <div class='pure-g'>
        <div class='pure-u-5-6'>
          <div ng-bind-html='render(vm.book.readme)'></div>
        </div>
        <div class='pure-u-1-6'>
          <div ng-bind-html='render(vm.book.summary)'></div>
        </div>
      </div>
    </div>
  </div>
</div>
