<div class='single-container'>

  <div class='single-header'>
    <div class='container'>  

      <div class=''>
        <div class='board pure-g'>
          <div class='cover-col pure-u-1-6'>
            <div class='book-cover'>
              <img src="https://sm3lir.cloudimage.io/s/width/210/https://www.gitbook.com/cover/book/karmazzin/eloquentjavascript_ru.jpg?build=1427995075544&v=6.11.8">
            </div>
          </div>
          <div class='book-info pure-u-3-5'>
            <h2>和时间做朋友</h2>
            <p><a href="#">李笑来</a></p>
            <div class='read-download pure-u-1'>
              <a class='read-btn' href='#'>阅读</a>         
              <a class='download-btn' href='#'>下载</a>                 
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>


</div>