<div class="ui container three columns grid">
  <div class="three column">
    <%= @book.title %>
  </div>
  <div class="one column">
    PDF
  </div>
  <div class="one column">
    MOBI
  </div>
  <div class="one column">
    EPUB
  </div>
</div>
