<% title @author.pen_name %>

<div class="ui primary inverted vertical segment">
  <div class='ui container'>
    <div class="ui inverted items">
      <div class="item">
        <img class='ui bordered image' src='<%= @author.avatar.url %>' height='192px'>
        <div class="content">
          <h1 class="header"><%= @author.pen_name %></h1>
          <div class="description">
            <%= @author.intro %>
          </div>
          <div class="meta">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui lightgray inverted vertical seamless border segment">
  <div class='ui container'>
    <div class="ui secondary pointing content menu">
      <a class="item active" data-tab="about">
        <i class='puzzle icon'></i>
        关于
      </a>
      <a class="item" data-tab="hot">
        <i class='sort content descending icon'></i>
        热销
      </a>
    </div>
  </div>
</div>

<div class="ui vertical borderless segment">
  <div class='ui container'>
    <div class="ui tab segment"></div>
    <div class="ui tab segment active" data-tab="about">
    </div>
    <div class="ui tab segment" data-tab="hot">
    </div>
    <div class="ui tab segment"></div>
  </div>
</div>
