<div class='page-header'>
  <div class='header-container pure-g container'>
    <div class='pure-u-4-24'>
      <a href='/' class='logo'>
        <img src='/images/logo@2x.png' />
      </a>
    </div>
    <div class='pure-u-20-24 nav'>
      <div class='pure-menu pure-menu-horizontal'>
        <ul class='pure-menu-list'>
          <li class='pure-menu-item'>
            <a class='pure-menu-link' href='<%= root_path %>'>首页</a>
          </li>
          <li class='pure-menu-item'>
            <a class='pure-menu-link' href='<%= explore_index_path %>'>书架</a>
          </li>
          <%- if current_user %>
            <li class='pure-menu-item'>
              <a class='pure-menu-link' href='<%= signout_path %>'>退出</a>
            </li>
          <%- else %>
            <li class='pure-menu-item'>
              <a class='pure-menu-link'>登录</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

