<div class='page-header'>
  <div class='header-container pure-g container'>
    <div class='pure-u-4-24'>
      <a class='logo'>
        <img src='/images/logo@2x.png' />
      </a>
    </div>
    <div class='pure-u-20-24 nav'>
      <div class='pure-menu pure-menu-horizontal'>
        <ul class='pure-menu-list'>
          <li class='pure-menu-item'>
            <a class='pure-menu-link'>首页</a>
          </li>
          <li class='pure-menu-item'>
            <a class='pure-menu-link'>发现</a>
          </li>
          <li class='pure-menu-item'>
            <a class='pure-menu-link'>写作</a>
          </li>
          <li class='pure-menu-item'>
            <a class='pure-menu-link'>登出</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

