<% content_for :left_page do %>
  <h1 class='ui header'>
    给读者
  </h1>
  <h3 class='ui header'>
    精挑细选的优质内容
    <div class="sub header">一大波精彩书籍正在接近</div>
  </h3>

  <a class="ui basic fixed button">
    浏览书架
  </a>

<% end %>
<% content_for :right_page do %>
  <h1 class='ui header'>
    给作者
  </h1>
  <h3 class='ui header'>
    一步到位的自出版工具
    <div class="sub header">更好的工具、更多的读者</div>
  </h3>

  <a class="ui basic fixed button">
    登陆
  </a>

<% end %>

<%#<%= link_to '浏览书架', explore_index_path, class: 'start-btn' %>%>
<%#<%- if current_user %>%>
  <%#<%= link_to '控制面板', dashboard_root_path, class: 'start-btn' %>%>
<%#<%- else %>%>
  <%#<%= link_to '登陆', signin_path, class: 'start-btn' %>%>
<%#<%- end %>%>
