<div class='home-header'>
  <div class='h1'></div>
  <div class='slogan'>让文字自由流动</div>
</div>

<div class='landing'>
  <div class='left'>
    <div class='title'>
      <h2>给读者</h2>
    </div>
    <div class='slogan'>
      <h3>精挑细选的优质内容</h3>
      <p>一大波精彩书籍正在接近</p>
    </div>

    <%= link_to '浏览书架', explore_index_path, class: 'start-btn' %>
  </div>
  
  <div class='right'>
    <div class='title'>
      <h2>给作者</h2>
    </div>
    <div class='slogan'>
      <h3>一步到位的自出版工具</h3>
      <p>更好的工具、更多的读者</p>
    </div>

    <a class='start-btn'>登陆</a>
  </div>

  <div class='shadow'></div>
</div>

<%= render 'shared/footer' %>
