<% content_for :left_page do %>
  <div id='wechat_login_wrapper' data-href='https://dn-zhibimo.qbox.me/wechat.css'></div>
<% end %>

<% content_for :right_page do %>
  <h3 id='signin_tip' class='ui header'>
    登录知笔墨
    <div class="sub header">登录以管理您的账户、书籍与评论。</div>
  </h3>

  <a class="ui basic fixed button" href='/auth/github'>使用 GitHub 登录</a>
<% end %>
