<%= render 'shared/slogan' %>

<div class='landing'>
  <div class='left'>
    <div id='wechat_login_warpper'>
    </div>
  </div>
  
  <div class='right'>
    <div class='title'>
      <h2>给作者</h2>
    </div>
    <div class='slogan'>
      <h3>一步到位的自出版工具</h3>
      <p>更好的工具、更多的读者</p>
    </div>
    <%= link_to '使用 GitHub 登陆', '/auth/github', class: 'start-btn' %>
  </div>

  <div class='shadow'></div>
</div>

<%= render 'shared/footer' %>

