# write yourself config below 
# move to <project-root>/.env !!!!
#
# for sign in with github 
GITHUB_KEY=GITHUB_KEY
GITHUB_SECRET=GITHUB_SECRET

# config database 
MYSQL_PORT_3306_TCP_ADDR=HOST
MYSQL_ENV_MYSQL_DATABASE=DBNAME
MYSQL_ENV_MYSQL_USER=DBUSER
MYSQL_ENV_MYSQL_PASSWORD=DBPASSWORD
