<div id="explorer">
  <header>
    <h1 class='title' ng-bind='vm.book.title'></h1>
    <a id='new_entry' herf ng-click='vm.newEntry()'>
      <span class="octicon octicon-gear"></span>
    </a>
  </header>
  <ul id="entries">
    <li ng-repeat="entry in vm.entries" 
        data-entry='{{entry.id}}' 
        ng-click='vm.setCurrent(entry)'
        ng-class="{active: entry.isActive}">
      {{entry.path}}
    </li>
  </ul>
</div>

<div id='content-wrapper'>
  <div id="editor" ng-controller='EditorController as vm'>
    <header>
      <a id='format-header' herf ng-click="vm.command('formatHeader')">
        <span class="octicon octicon-beer"></span>
      </a>
      <a id='format-header' herf ng-click="vm.command('formatStrong')">
        <span class="octicon octicon-jersey"></span>
      </a>
      <a id='format-header' herf ng-click="vm.command('formatItalic')">
        <span class="octicon octicon-circuit-board"></span>
      </a>
      <a id='format-header' herf ng-click="vm.command('formatStrikethrough')">
        <span class="octicon octicon-lock"></span>
      </a>
    </header>
    <div id='textarea-wrapper' 
      ng-model='vm.entry().content' 
      ng-change='vm.changed()'
      ui-codemirror-opts='vm.editorOptions'
      ui-codemirror='{onLoad : vm.codemirrorLoaded}'>
    </div>
  </div><div id="preview" ng-controller='PreviewController as vm'>
    <header>
    </header>
    <div id="preview-wrapper" >
      <div id='kramed-wrapper' ng-bind-html='vm.render()'></div>
    </div>
  </div>
</div>

