<div class="ui text container">
  <div class="ui stackable center aligned three column grid">
    <div class="one column row">
      <div class="column">
        <h1 class='ui header'>
          购买 <%= @book.title %> 
        </h1>
      </div>
    </div>
  </div>
</div>

