<% title '打赏' %>

<div id='navigation' class="ui inverted lightgray borderless attached menu">
  <div class='ui container'>
    <div class='item'>
      <div class="ui huge breadcrumb">
        <%= link_to @book.title, book_path(@book), class: 'section' %>
        <i class="right chevron icon divider"></i>
        <div class="active section">打赏</div>
      </div>
    </div>
  </div>
</div>

<div class='ui text container'>
  <div class="ui attached message">
    <div class="header">
      感谢您对本书作者 <%= link_to author_name(@book), author_path(@book), target: '_blank' %> 的支持。
    </div>
  </div>

  <%= form_tag reader_book_donates_path(@book), method: :post, class: 'ui form attached fluid segment' do %>
    <div class="field">
      <div class="ui left icon large input">
        <i class="yen icon"></i>
        <input type='text' placeholder='建议金额：一元、五元或十元人民币。' name='fee' autocomplete='off'></input>
      </div>
      <div class='sub text'>
        本书作者将会收到全部的打赏金额。
      </div>
    </div>

    <button class="ui primary fixed button" type="submit">打赏</button>
  <% end %>
</div>
