<div class="ui mobile only tablet only middle aligned center aligned grid">
  <div class='column'>
    <h1>ONLY for TABLET and COMPUTER</h1>
  </div>
</div>

<div id='main_menu' class="ui top fixed menu computer only divided grid" ng-include='"menu.html"' ng-controller='MenuController as vm'></div>

<div id='main_wrapper' class="ui computer only divided grid">
  <div id='entries_wrapper' class="three wide column" ng-include='"entries.html"'ng-controller='EntriesController as vm'></div>
  <div id='editor_wrapper' class="six wide column" ng-include='"editor.html"'ng-controller='EditorController as vm'></div>
  <div id='preview_wrapper' class="seven wide column" ng-controller='PreviewController as vm'>
    <div id='preview' ng-bind-html='vm.render()'></div>
  </div>
</div>
