<div class="three wide column">
  <div class="ui icon tiny buttons">
    <button ng-click="vm.command('new')" class="ui button"><i class="file text outline icon"></i></button>
    <button ng-click="vm.command('save')" class="ui button"><i class="save icon"></i></button>
  </div>
</div>
<div class="thirteen wide column">
  <div class="ui icon tiny buttons">
    <button ng-click="vm.command('undo')" class="ui button" ng-class="{disabled: vm.canUndo()}"><i class="undo icon"></i></button>
    <button ng-click="vm.command('redo')" class="ui button" ng-class="{disabled: vm.canRedo()}"><i class="horizontally flipped undo icon"></i></button>
  </div>

  <div class="ui icon tiny buttons">
    <button ng-click="vm.command('header')" class="ui button"><i class="header right icon"></i></button>
    <button ng-click="vm.command('strong')" class="ui button"><i class="bold icon"></i></button>
    <button ng-click="vm.command('italic')" class="ui button"><i class="italic icon"></i></button>
    <button ng-click="vm.command('strikethrough')" class="ui button"><i class="strikethrough icon"></i></button>
  </div>

  <div class="ui icon tiny buttons">
    <button ng-click="vm.command('list')" class="ui button"><i class="list icon"></i></button>
    <button ng-click="vm.command('ordered-list')" class="ui button"><i class="ordered list icon"></i></button>
    <button ng-click="vm.command('linkify')" class="ui button"><i class="linkify icon"></i></button>
    <button ng-click="vm.command('quote')" class="ui button"><i class="quote left icon"></i></button>
    <button ng-click="vm.command('code')" class="ui button"><i class="code icon"></i></button>
  </div>
</div>
