<% title '收款记录'  %>

<% content_for :navigation do %>
  <div class='item'>
    <div class="ui huge breadcrumb">
      <div class="active section">收款记录</div>
    </div>
  </div>
<% end %>

<div class='ui container'>
  <div class="ui edge attached center aligned segment">
    <div class="ui mini primary statistic">
      <div class="value"><code><%= fee(@orders) %></code></div>
      <div class="label">合计收入</div>
    </div>
  </div>
  <div class='ui edge attached segment'>
    <%- if @orders_by_book.empty? %>
      <h3 class="ui center aligned header">
        <i>对不起，还未曾有人给您付款 ......</i>
      </h3>
    <%- else %>
      <%- @orders_by_book.each do |book, orders| %>
        <div class="ui horizontal elegant divider"><%= book.title %></div>
        <div class="ui very relaxed middle aligned divided list">
          <%= render orders %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="ui edge bottom attached warning message">
    <i class="icon help"></i>
    有关收款的更多说明，请参考 <a target='_blank' href='/read/hpyhacking/zhibimo-guide/pay.html'>知笔墨指南</a>。
  </div>
</div>
