//= require semantic_ui/semantic_ui

@primaryColor        : #50616D;
@grey                : #B3B3B3;
@footerHeight        : 3.375rem;
@mobileFooterHeight  : 6rem;
@textColor           : rgb(37, 44, 51);
@textFont            : 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

@borderColor         : rgba(34, 36, 38, 0.15);

@largestMobileScreen : 768px;

@import "desk/preview";
@import "retinajs/src/retina";

#book-background {
  .at2x('/images/book-background.png', 844px, 561px);
}

#slogan.computer.only {
  .at2x('/images/logo-with-slogan.png', 770px, 36px);
}

#slogan.tablet.only.mobile.only {
  .at2x('/images/logo.png', 108px, 36px);
}

#logo{
  width: 108px;
  min-width: 108px;
  .at2x('/images/logo.png', 108px, 36px);
}

#page_wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: @footerHeight;
}

#page_menu {
  font-size: 1rem;
  border-radius: 0px;
  margin-bottom: 0px;
  border-top-color: @primaryColor;
  border-left: 0px;
  border-right: 0px;
  border-top-width: 2px;
}

@media only screen and (max-width: @largestMobileScreen) {
  #page_menu {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#page_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footerHeight;
  margin: 0;
  z-index: 9999;
}

@media only screen and (max-width: @largestMobileScreen) {
  #page_footer {
    height: @mobileFooterHeight;
  }
  #page_wrapper {
    padding-bottom: @mobileFooterHeight;
  }
}


span.ui.split {
  min-width: 10px; 
  display: inline-block;
}


.ui.basic.fixed.button {
  min-width: 10.5em;
}

.ui.fixed.button {
  min-width: 10.5em;
}

.ui.small.divider {
  margin: .5rem 0;
}

.board .sub.header {
  padding-top: .5rem !important;
}

.container > h1.ui.header {
  margin-bottom: 3.75rem !important;
}

.ui.large.list > .item {
  line-height: 1.5rem !important;
}

#slogan {
  padding: 0em;
  margin-top: 4.375em;
  margin-bottom: 2.5em;
  padding-top: 2em;
  background-repeat: no-repeat;
  background-position: top center;
}

#slogan p {
  margin-top: 0em;
  color: @primaryColor;
  font-weight: normal;
}

#book-background {
  width: 53em !important;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2.188em;
  min-height: 35.032em;
  background-repeat: no-repeat;
  background-position: center;

  & > #book-content {
    min-height: 34.5em;

    h1.ui.header {
      margin-top: 5rem;
      margin-bottom: 3.125rem;
    }

    .ui.button {
      bottom: 4.375em;
    }

    .ui.basic.button {
      position: absolute;
      margin-left: -5.25em;
    }
  }
}

#footer {
  width: 57em !important;
}

#footer_divider.ui.divider {
  opacity: 0.85;
  margin-top: 3.75em;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: normal;
  color: @primaryColor;
  text-transform: none;
}

#wechat_login_wrapper, #signin_tip, #error_tip {
  margin-top: 8.875em;
}

#page_number {
  padding-top: 30em;
  padding-left: 8.25em;
  padding-right: 8.25em;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: normal;
  color: @primaryColor;
  text-transform: none;
}

#logo {
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    background-color: inherit;
  }
}

.board.row {
  background: url('/images/board-left.png'),
              url('/images/board-right.png');
  background-origin: padding-box, padding-box;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right;
  background-size: 3.75em 3.75em, 3.75em 3.75em;

  padding-bottom: 0em !important;

  &:after {
    content: '';
    background: url('/images/board-background.png');
    background-repeat: repeat-x;
    margin-top: -1.75em;
    height: 3.75em;
    min-height: 3.75em;
    width: 100%;
    background-size: 3.75em 100%;
  }
}

.padding.row {
  padding-left: 3.75em !important;
  padding-right: 3.75em !important;
}

.ui.form textarea {
  resize: none !important;
}

.ui.form > .field {
  margin-bottom: 2.5em !important;
}

.ui.form > .field:last-of-type {
  margin-bottom: 3.75em !important;
}

.ui.form .field > .sub.text {
  color: @grey;
  font-size: 0.875rem;
  display: block;
  margin-top: 0.25rem;
}

.tiny.divider {
  margin: .3em 0 !important;
}

.ui.divided.items > .item {
  .content + .ui.image {
    margin-left: 1rem;
  }
}

#page_content > .primary.inverted.vertical.segment:first-child {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#explore_list.ui.items {
  & > .item {
    .ui.image {
      min-width: 11rem;

      & > img {
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  #explore_list.ui.items {
    & > .item {
      .ui.image {
        min-width: inherit;
      }
    }
  }
}

#navigation {
  border-bottom: 1px solid @borderColor;

  .item:first-child {
    padding-left: 0px;
  }

  & + .ui.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  #navigation {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#search_wrapper {
  width: 10rem;
}
