//= require semantic_ui/semantic_ui
//= require codemirror/lib/codemirror

@textColor: rgb(37, 44, 51);
@textFont: 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

@import 'desk/codemirror';
@import 'desk/preview';

#preview_wrapper, #editor_wrapper, #contents {
  overflow: scroll;
}

#main_wrapper {
  height: 100%; 
  margin: 0px;

  #contents {

    .ui.list {
      padding-top: 2rem;
    }

    .item .no-title {
      font-style: italic;
    }

    .item .description {
      text-overflow: ellipsis;
      overflow: hidden; 
    }
  }
}
