//= require semantic_ui/semantic_ui

@primaryColor        : #50616D;
@textColor           : rgb(37, 44, 51);
@textFont            : 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;

#main_menu {
  & > .column {
    height: 4.0625rem;
  }
}

#main_menu + #main_wrapper {
  padding-top: 4.125rem;
}

#main_wrapper {
  height: 100%; 
  margin: 0px;

  & > * {
    overflow: scroll;
  }

  #entries_wrapper > .ui.list {
    .item .no-title {
      font-style: italic;
    }

    .item .description {
      overflow: hidden; 
      text-overflow: ellipsis;
    }
  }
}

@import 'desk/codemirror';
@import 'desk/preview';
