.impowerBox .qrcode {width: 200px; margin-top: 0px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.impowerBox .status {text-align: center;} 
.status_icon {display: none !important;}

.impowerBox .status p {
  color: #B2B2B2;
  text-align: center;
  font-size: 0.875rem !important;
  font-weight: 400;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', sans-serif;
}
