/* Basic reset
-------------------------------------------------------------- */
.pure-g{
  letter-spacing: 0em;
}

h1 {
  color: #666;
}

h2 {
  color: #555;
}

h3 {
  color: #444;
}

h4 {
  color: #333;
}
h5 {
  color: #333;
}

p {
  color: #444;
  line-height: 1.5em;
}

a {
  color: #555;
}

.container{
  margin: auto;
  width: 94%;

  @media screen and (min-width: 35.5em){
    width: 90%;
  }

  @media screen and (min-width: 48em) {
    width: 90%;
    max-width: 960px;
  }

  @media screen and (min-width: 64em){
    width: 90%;
    max-width: 980px;
  }

  @media screen and (min-width: 80em){
    max-width: 980px;
  }
}

/* Custom style based on Pure.css */

$primary-green-light: #91C757;
$primary-green-shade: #76AE39;

$secondary-blue-light: #61ADCB;
$secondary-blue-shade: #4B8FAA;

$warning-red-light: #C37777;
$warning-red-shade: #AA3E3E;

.pure-button{
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  cursor: pointer;
  span{
    cursor: pointer;
  }
  a{
    cursor: pointer;
  }
}

.button-primary{
  color: #fff;
  background: $primary-green-light;
  &:hover{
    background: $primary-green-shade;
  }
}

.button-secondary{
  color: #fff;
  background: $secondary-blue-light;
  &:hover{
    background: $secondary-blue-shade;
  }
}

.button-ghost{
  background: #FFF;
  color: #555;
  border: 1px #DEDEDE solid;
  &:hover{
    background: #F4F4F4;
  }
}

.button-ghost-blue{
  background: #FFF;
  color: $secondary-blue-light;
  border: 1px $secondary-blue-shade solid;
  &:hover{
    background: #F4F4F4;
  }  
}

.button-ghost-red{
  background: #FFF;
  color: $warning-red-light;
  border: 1px $warning-red-shade solid;
  &:hover{
    background: #F4F4F4;
  }
}  

/* Dropdown sample in single book detail page. */

.dropdown{
  position: relative;
  overflow: visible;
  display: inline-block;

  &:hover > ul.dropdown-menu {
    display: inherit;
  }  

  .dropdown-btn{
    position: relative;
  }

  ul.dropdown-menu{
    display: none;
    padding-left: 0;
    width: 160%;
    position: absolute; 
    top: 18px;    
    left: 0px;
    list-style: none;
    border: 1px #EEE solid;
    background: #FFF;

    li{
      padding-left: 1.2em;
      border-bottom: 1px #EEE solid;
      line-height: 2.4em;
      float: none;
      display: list-item;
      position: relative;

      &:hover{
        background-color: #eee;
      }
    }
  }
}

/* Shelf board & Book cover CSS samples
-------------------------------------------------------------- */

.board-sample {
}

.book-cover-sample{
  width: 100%;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.32);
  img{
    width: 100%;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.65;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.19) 11%, rgba(0,0,0,0.11) 34%, rgba(255,255,255,0.14) 100%);
  }
}



/* Inner-header & Board
-------------------------------------------------------------- */


$board-height: 40px;
$board-content-height: 170px;
$board-gap: $board-content-height + $board-height;
$board-first-gap: $board-content-height;

.inner-header {
  background-color: #F8F8F8;
  width: 100%;
  height: 75px; 
  padding-top: 10px;

  h2{
    a{
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      &:hover{
        opacity: 0.8;
        border-bottom: 2px solid #DDD;
      }
    }
  }

  &.inner-header-background {
    position: absolute;
    height: $board-content-height + $board-height;
  }

  .container > * {
    margin-top: 20px;
  }

  & + .container {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 400px;
  }
}

.board {
  width: 80%;
  position: relative;
  background: asset-url("board-repeat@2x.png");
  background-size: contain;
  background-repeat: repeat-x;

  height: $board-height;
  margin: $board-gap auto 80px auto;


  &:first-of-type {
    margin-top: $board-first-gap;
  }

  &.board-show {
    margin-top: $board-gap;
  }

  &:before{
    width: 40px;
    height: 40px;
    display: inline-block;

    top: 0px;
    left: -40px;
    position: absolute;

    background-repeat: no-repeat;
    background: asset-url("board-left@2x.png");
    background-size: contain; 
    content: '';
  } 

  &:after{
    width: 40px;
    height: 40px;
    display: inline-block;

    top: 0px;
    right: -40px;
    position: absolute;

    background-repeat: no-repeat;
    background: asset-url("board-right@2x.png");
    background-size: contain; 
    content: '';
  } 

  .board-content {
    width: 100%;
    height: $board-content-height;
    margin-top: -$board-content-height + $board-height/4;
    position: absolute;

    .cover {
      overflow: hidden;
      margin: 0px;
      height: 169px;
      width: 130px;
      position: relative;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.32);

      img {
        width: 130px;
        height: 169px;
      }

      &:before{
        width: 100%;
        height: 100%;

        top: 0px;
        left: 0px;
        position: absolute;

        background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%);
        background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%);
  
        opacity: 0.65;

        content: '';
      }  
    }

    .board-content-operate{
      text-align: right;
    }
  }
}

i.octicon + span {
  display: inline-block;
  text-indent: 6px;
}

.bottom {
  position: absolute;
  bottom: 0px;
}
