/* Custom style based on Pure.css
-------------------------------------------------------------- */

$primary-green-light: #91C757;
$primary-green-shade: #76AE39;


$secondary-blue-lighe: #61ADCB;
$secondary-blue-shade: #4B8FAA;



.octicon{
  margin-right: 5px;
}

h1{
  color: #555;
}
h2{
  color: #444;
}
h3{
  color: #333;
}
h4{
  color: #333;
}
h5{
  color: #333;
}

p{
  color: #333;
}

a{
  color: #555;
}


/* Custom style based on Pure.css */



.pure-button{
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.pure-primary-button{
  color: #fff;
  background: $primary-green-light;
  &:hover{
    background: $primary-green-shade;
  }
}
.pure-ghost-button{
  background: #FFF;
  color: #555;
  border: 1px #DEDEDE solid;
  &:hover{
    background: #F4F4F4;
  }
}

/* DropDown sample in single book detail page. */

.dropdown{
  position: relative;
  overflow: visible;
  display: inline-block;
  &:hover > ul.dropdown-menu {
    display: inherit;
  }  
  .dropdown-btn{
    position: relative;

  }
  ul.dropdown-menu{
    display: none;
    padding-left: 0;
    width: 160%;
    position: absolute; 
    top: 18px;    
    left: 0px;
    list-style: none;
    border: 1px #EEE solid;
    background: #FFF;
    li{
      padding-left: 1.2em;
      border-bottom: 1px #EEE solid;
      line-height: 2.4em;
      float: none;
      display: list-item;
      position: relative;
      &:hover{
        background-color: #eee;
      }
    }
  }
}


/* Shelf board & Book cover CSS samples
-------------------------------------------------------------- */

.board-sample {
  width: 100%;
  height: 40px;
  position: relative;
  display: inline-block;
  margin-top: 140px;
  background: asset-url("board-repeat@2x.png");
  background-size: contain;
  background-repeat: repeat-x;

  &:before{
    width: 40px;
    height: 40px;
    display: inline-block;

    left: -40px;
    position: absolute;

    background-repeat: no-repeat;
    background: asset-url("board-left@2x.png");
    background-size: contain; 
    content: '';
  } 

  &:after{
    width: 40px;
    height: 40px;
    display: inline-block;

    top: 0px;       
    right: -40px;
    position: absolute;

    background-repeat: no-repeat;
    background: asset-url("board-right@2x.png");
    background-size: contain; 
    content: '';
  } 
}

.book-cover-sample{
  width: 100%;
  position: relative;
  margin: auto;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.32);
  img{
    width: 100%;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.65;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.19) 11%, rgba(0,0,0,0.11) 34%, rgba(255,255,255,0.14) 100%);
  }
}





