.container{

  margin: auto;
  width: 94%;

  @media screen and (min-width: 35.5em){
    width: 90%;
  }

  @media screen and (min-width: 48em) {
    width: 90%;
    max-width: 960px;
  }

  @media screen and (min-width: 64em){
    width: 90%;
    max-width: 980px;
  }

  @media screen and (min-width: 80em){

    max-width: 980px;
  }

  .page-header{
    margin-top: 40px;
    border-bottom: 1px #ddd solid;
    .logo{
      display: block;
      width: 70px;
      img{
        margin-top: 8px;
        max-width: 100%;
      }
    }
    .nav{
      text-align: right;
      ul{
        li{
          line-height: 30px;
          a{
            &:hover{
              color: #666;
              background: #eee;
            }
          }
          &:first-child{
            @media screen and (max-width: 35.5em){
              display: none;
            }
          }
        }
      }

    }

  }

}


