
.inner-header{
  .pure-button{
    height: 34px;
  }
}

[ng-file-drop] {
  height: 169px;
  background-color: #EEE;
  border: 1px solid #CCC;
  padding: 3px;
  display: inline-block;

  &.dragover {
    border: 1px dashed #CCC;
  }
}
