$board-height: 40px;
$board-content-height: 160px;

.board {
  @extend .board-sample;
  height: $board-height;
  margin-top: $board-content-height;

  .board-content {
    width: 100%;
    height: $board-content-height;
    margin-top: -$board-content-height + $board-height/4;

    .cover {
      margin: 0px;
      height: $board-content-height;
      width: 120px;
      position: relative;
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.32);

      img {
        height: $board-content-height;
      }

      &:before{
        width: 100%;
        height: 100%;

        top: 0px;
        left: 0px;
        position: absolute;

        background-image: linear-gradient(90deg, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.19) 11%, rgba(0,0,0,0.11) 34%, rgba(255,255,255,0.14) 100%);
        opacity: 0.65;

        content: '';
      }  
    }
  }

}
