@import 'codemirror/lib/codemirror';

$explorer-width: 240px;
$explorer-background-color: #F7F7F7;
$header-height: 40px;
$header-background-color: #E3E1E1;
$header-btn-height: $header-height;
$header-btn-width: $header-btn-height;
$normal-padding: 12px;

@mixin full-height {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

@mixin header-button($size: 16px) {
  width: $size;
  height: $size;
  cursor: pointer;
  text-align: center;
  box-sizing: content-box;
  padding: ($header-btn-height - $size) / 2;
  .oction {
    color: #999999;
  }
}

html.editor {
  * { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
  }

  &, body, [ui-view], #explorer, #content-wrapper {
    @include full-height;
  }

  header {
    height: $header-height;
    background-color: $header-background-color;
  }

  #explorer {
    top: 0; left: 0;
    position: absolute;
    width: $explorer-width;

    overflow-y: scroll;
    background-color: $explorer-background-color;
  }

  #content-wrapper {
    margin-left: $explorer-width;
  }

  #explorer {
    h1.title {
      color: #666666;
      font-size: 16px;
      line-height: 18px;
      padding: 12px $header-btn-width 10px 10px;
    }

    #new_entry {
      top: 0px;
      right: 0px;
      position: absolute;
      @include header-button;
    }

    ul {
      padding-top: $normal-padding;

      li {
        cursor: pointer;
        list-style: none;
        padding: 4px 16px;
        box-sizing: border-box;

        .delete-entry-button {
          display: none;
          float: right;
          cursor: pointer;

          &:hover {
            color: #C53929;
          }
        }

        &:hover {
          background-color: #EBEBEB;

          .delete-entry-button {
            display: inline-block;
          }
        }

        &.active {
          color: #C53929;
          border-left: 4px solid #C53929;
          padding-left: 12px;
        }
      }
    }
  }

  #editor, #preview {
    width: 50%;
    display: inline-block;
    @include full-height;
  }

  #textarea-wrapper, #preview-wrapper {
    @include full-height;
  }

  #textarea-wrapper > .CodeMirror {
    height: 100%;
  }
}
