@import 'codemirror/lib/codemirror';

$explorer-width: 240px;
$explorer-background-color: #F7F7F7;
$header-height: 40px;
$header-background-color: #E3E1E1;
$header-btn-height: $header-height;
$header-btn-width: $header-btn-height;
$normal-padding: 12px;

@mixin full-height {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

@mixin user-select-none {
  -webkit-user-select: none;
}

@mixin header-button($size: 16px) {
  width: $size;
  height: $size;
  cursor: pointer;
  text-align: center;
  box-sizing: content-box;
  padding: ($header-btn-height - $size) / 2;
  display: inline-block;
  &:hover { text-shadow: 0px 0px 1px; }

  .oction {
    color: #999999;
  }
}

html.entries {
  * { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
  }

  &, body, [ui-view], #explorer, #content-wrapper {
    @include full-height;
  }

  header {
    height: $header-height;
    padding-left: $normal-padding;
    background-color: $header-background-color;
  }

  #explorer {
    top: 0; left: 0;
    position: absolute;
    width: $explorer-width;

    background-color: $explorer-background-color;
    @include user-select-none;
  }

  #content-wrapper {
    margin-left: $explorer-width;
  }

  #explorer {
    h1.title {
      color: #666666;
      font-size: 16px;
      line-height: 18px;
      padding: 12px $header-btn-width 10px 10px;
    }

    #new_entry {
      top: 0px;
      right: 0px;
      position: absolute;
      @include header-button;
    }

    ul {
      padding-top: $normal-padding;

      li {
        cursor: pointer;
        list-style: none;
        padding: 4px 16px;
        box-sizing: border-box;

        .delete-entry-button {
          display: none;
          float: right;
          cursor: pointer;

          &:hover {
            color: #C53929;
          }
        }

        &:hover {
          background-color: #EBEBEB;

          .delete-entry-button {
            display: inline-block;
          }
        }

        &.active {
          color: #C53929;
          border-left: 4px solid #C53929;
          padding-left: 12px;
        }
      }
    }
  }

  #editor, #preview {
    width: 50%;
    display: inline-block;
    position: relative;
    @include full-height;

    header {
      width: 100%;
      position: absolute;
      top: 0px; left: 0px;

      & > a {
        @include header-button;
      }
    }
  }

  #editor {
    header { background-color: #EAEAEA; }

    overflow: none;
    @include user-select-none;
  }

  #preview {
    header { background-color: #E4E4E4; }
  }

  #textarea-wrapper, #preview-wrapper {
    @include full-height;
    margin-top: $header-height;
    padding: $normal-padding * 2;
    padding-bottom: 64px;
  }

  #preview-wrapper {
    margin-top: $header-height + $normal-padding * 2;
    padding-top: 0px;
    padding-bottom: 0px;

    // to fix padding content did not hidden
    border-bottom: $header-height + $normal-padding * 4 solid transparent;
    overflow: scroll;
  }

  .CodeMirror {
    height: 100%;

    // editor basic style
    pre {
      color: #333;
      font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
      font-size: 16px;
      line-height: 150%;
    }

    span.cm-header {
      // TODO: header text basic style
      // e.g. h1 h2 h3 h4 h5 h6

      // TODO: h1 - h6 style
      &.cm-header-1 { 
        font-size: 2em;
        font-weight: bold;
        margin: 0.67em 0;
      }
      &.cm-header-2 { 
        font-size: 1.5em;
        font-weight: bold;
        margin: 0.83em 0;
      }
      &.cm-header-3 { 
        font-size: 1.17em;
        font-weight: bold;
        margin: 1em 0;
      }
      &.cm-header-4 { 
        font-size: 1.1em;
        font-weight: bold;
        margin: 0.8em 0;
      }
      &.cm-header-5 { 
        font-size: 1em;
        font-weight: bold;
        margin: 0.7em 0;
      }
      &.cm-header-6 { 
        font-size: 1em;
        font-weight: bold;
        margin: 0.6em 0;
      }

    }

    // TODO: strong and italic text style
    span.cm-em {
      font-style: italic;
    }
    span.cm-strong { 
      font-style: bold;
    }

    span.cm-quote {
      // TODO: quote text basic style
      color:#666666;
      margin:0;
      padding-left: 3em;
      border-left: 0.5em #EEE solid;
      //TODO: 1 level - 3 level quote style
      &.cm-quote-1 { }
    }

    // TODO: link text and url text (included parenthesis)
    span.cm-link {
      color: #0645ad; 
      text-decoration:none;
    }
    span.cm-string {
      color: #AD0606; 
      text-decoration:none;
    }

    // TODO: fixed width text style
    span.cm-comment { }

    // TODO: options text style
    span.cm-variable-2 { }
    span.cm-variable-3 { }
    span.cm-keyword { }

  }
}
