.explore-container{
  .board{
    position: relative;
    .board-left{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background: asset-url("board-left@2x.png");
      background-size: contain; 
      position: absolute;
      left: -45px;     
    }
    .board-center{
      margin-left: -5px;
      display: inline-block;
      height: 40px;
      width: 100%;
      background: asset-url("board-repeat@2x.png");
      background-size: contain;
      background-repeat: repeat-x;
      position: relative;
    }
    .board-right{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background: asset-url("board-right@2x.png");
      background-size: contain;
      position: absolute;
      right: -35px;
    }
  }
}

