.page-header{
  height: 60px;
  border-bottom: 1px #DDD solid;
  box-shadow: 0px 2px 4px 0px rgba(202,202,202,0.50);
  .header-container{
    line-height: 60px;
    .logo{
      display: block;
      width: 70px;
      img{
        margin-top: 18px;
        max-width: 100%;
      }
    }
    .nav{
      text-align: right;
      ul{
        li{
          line-height: 16px;
          box-sizing: content-box;
          a{
            padding: .5em .5em; 
            margin: 0 10px;
            &:hover, &.active {
              border-bottom: 2px #DDD solid;
              background: none;
            }


          }
          &:first-child{
            @media screen and (max-width: 35.5em){
              display: none;
            }
          }
        }
      }
    }
  }
}




