a{
	text-decoration: none;
}

.modal-mask{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFF;
  z-index: 99;
  display: block;
  opacity: 0.8;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;  
}

.home-header{
  text-align: center;
  width: 80%;
  max-width: 860px;
  margin: auto;
  margin-top: 60px;
  height: 39px;
	background: asset-url("logo@2x.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

  .h1{
    margin-top: 3%;
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
    position: relative;
    &:before, &:after{
      position: absolute;
      top: 18px;
      z-index: 10;
      width: 36%;
      height: 5px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;    
      background-size: 3px 100%;
      opacity: .6;
      content: '';
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &:before{
      left: 0px;
    }
    &:after{
      right: 0px;
    }
  }
  .slogan{
    font-size: 1.2em;
    padding-top: 45px;
    text-align: center;
    color: #888;
  }  
}


.landing{
  font-family: 'akagi-pro', 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
  display: block;
  width: 80%;
  max-width: 860px;
  height: 540px;
  margin: auto;
  margin-top: 56px;
  margin-bottom: 90px;
  border: 1px #ddd solid;
  position: relative;
  &:before, &:after{
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 10px;
    height: 100%;
    background: -webkit-linear-gradient(left, #E0E0E0 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
    background: linear-gradient(to right, #E0E0E0 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
    background-size: 3px 100%;
    opacity: .6;
    content: '';
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }

  .title{
    h2{
      padding-top: 14%;
      text-align: center;
      font-size: 24px;
      color: #333;
      margin-bottom: 0px;
      margin-top: 0px;
      font-weight: 100;
    }
    .sub-title{
      color: #CCCCCC;
      text-align: center;
      font-size: 14px;
      margin-top: 0px;
      font-weight: 100;
      text-transform: uppercase;
      margin-top: 0px;
    }    
  }

  .slogan{
    h3{
      margin-top: 30px;
      color: #555;
      font-size: 18px;
      text-align: center;
      margin-bottom: 5px;
      font-weight: 100;

    }
    p{
      color: #aaa;
      text-align: center;
      font-size: 14px;
      font-weight: 100;
      margin-top: 0px;
      font-weight: 100;

    }
  }
  
  .start-btn{
    display: block;
    margin: auto;
    color: #444;
    font-size: 16px;
    line-height: 40px;
    background: none;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #666;
    -webkit-transition: color, 0.3s;
    -o-transition: color, 0.3s;
    transition: color, 0.3s;
    cursor: pointer;
		opacity: .8;    

    // center button with position absolute
    width: 160px;
    margin-left: -80px;
    position: absolute;
    left: 50%;
    right: 50%;

    bottom: 80px;

	  &:hover{
      color: #FFF;
      border: 1px solid #aaa;
      background: #aaa;
    }

    &.disabled{
      cursor: normal;
      background: #eee;
      border: 1px #ddd solid;
      color: #bbb;
      &:hover{
        background: #eee;
      }

    }
  }

  .left{
    float: left;
    height: 100%;
    width: 50%;
    position: relative;
    background-image: linear-gradient(-90deg, #F8F8F8 0%, #FFFFFF 35%, #FFFFFF 90%, #F5F5F5 100%);
    box-sizing: border-box;
  }
  .right{
    float: right;
    height: 100%;
    width: 50%;
    position: relative;
    background-image: linear-gradient(-90deg, #F8F8F8 0%, #FFFFFF 45%, #FFFFFF 90%, #F5F3F3 100%);
    border-left: 1px #ddd solid;
    box-sizing: border-box;

  }

  .shadow{
  	width: 80%;
		height: 60px;
		background: asset-url("shadow.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		z-index: -1;
		bottom: -23px;
		left: 50%;
		margin-left: -40%;
  }

}


@media screen and (max-width: 769px) {

  .shadow{
    display: none;
  }

  .header{
    .h1{  
      &:before, &:after{
        width: 26%;
      }
    }  
  }

  .landing{
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    .start-btn{
      margin-top: 60px;
      margin-bottom: 90px;
    }
    .left{
      width: 100%;
      float: none;
      border-bottom: 1px #DDD solid;
      background: #FFF;
    }
    .right{
      width: 100%;
      float: none;
      background: #fefefe;
      border-left: none;
    }
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }

  .footer{
    &:before, &:after{

      width: 10%;
    }
  }
}
