<div class="ui centered grid">
  <%- @books.each do |book| %>
    <div class="center aligned four wide computer five wide tablet ten wide mobile column">
      <a href='<%= explore_path(book.slug) %>'>
        <img class='ui centered bordered image' src='<%= book.cover.preview.url%>'>
        <p><%= book.title %></p>
      </a>
    </div>
  <% end %>
</div>
